<%- include('header.ejs', {selected:"about"}) %>
<section class="text-center">
    <br><br><br><br><br>
    <div  style="font-family: monospace, sans-serif;">
        <h2>About me</h2>
        <br>
        <h4 class="mx-auto col-lg-6">This landing page was made by Hen Golubenko, using Node.js, express.js, Bootstrap and chipp.ai</h4>
        <button class="btn btn-primary" onclick="window.location.href = '';">Source Code</button>
        <div class="row">
            <a href="https://github.com"><img src="github-icon.png" alt="GitHub" style="width: 50px;"></a>
            <a href="https://linkedin.com"><img src="linkedin-icon.png" alt="LinkedIn" style="width: 30px;"></a>
        </div>
    </div>
</section>
<%- include('footer.ejs') %>