<script>
    window.CHIPP_APP_URL = "https://instructionalskillsbot-7439.chipp.ai";
    window.CHIPP_APP_ID = 7439;
  </script>
  
  <link rel="stylesheet" href="https://storage.googleapis.com/chipp-chat-widget-assets/build/bundle.css" />
  
  <script defer src="https://storage.googleapis.com/chipp-chat-widget-assets/build/bundle.js"></script>
  
  <div id="chipp-chat-widget"></div>

  