<!-- 
<%- include('header.ejs') %>

<section class="text-center">
    <br><br><br><br><br>
    <div  style="font-family: monospace, sans-serif;">
        <h2>Welcome to SkillMastery!</h2>
        <br>
        <h4 class="mx-auto col-lg-6">Whether you're an educator, corporate trainer, or a budding tutor, SkillMastery offers:</h4>
    </div>  
    <br><br><br><br><br><br><br><br><br><br><br><br>
 <% include('section.ejs', {title: 'Personalized Learning', description: 'Explore our wide range of courses designed to help you master new skills and advance your career. Our courses are carefully curated and personalized to meet your learning needs. Whether you're interested in programming, design, marketing, or any other field, we have the perfect course for you.', imgSrc: 'courses.png', imgAlt: 'Courses', side:'justify-content-start'}) %> -->
<!-- <%- include('footer.ejs') %> 
</body>
</html> -->

